@import "../style_service.scss";
.html-container {
  @include container(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
.body-container {
  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
